/*
 * @file: This file contains a mixin for creating horizontal lists
 */

@mixin horizontal-list($screensize) {
  @media #{$screensize} {
    ul {
      @include inline-list;
      list-style: none;
      white-space: nowrap;
      margin-left: 0;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;

      li {
        display: inline-block;
        float: none;
        margin-left: 0;
        padding-left: 0;
      }
    }
  }
}

