.autocomplete--container {
  border: 1px solid #d0d0d0;
  border-top: none;
}

.autocomplete--container-hidden {
  display: none;
}

.autocomplete--category-container {
  width: 100%;

  &:last-of-type {
    .autocomplete--category--rows-container {
      border-bottom: none;
    }
  }
}

.autocomplete--category--label-container {
  width: 20%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  line-height: 70px;
}

.autocomplete--category--rows-container {
  width: 80%;
  display: inline-block;
  border-left: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
}

.autocomplete--row {
  line-height: 70px;

  &:hover, &:focus {
    background-color: #f0f0f0;
  }
}

.autocomplete--row-image {
  display: table-cell;
  height: 50px;
  width: 70px;
  padding: 10px;
  vertical-align: middle;
  img{
    max-height: 50px;
    max-width: 50px;
  }
}

.autocomplete--row-text {
  display: table-cell;
}
