body {
    font-family: 'Open Sans', sans-serif;
}
.work {
    float: left;
    padding: 5px;
    text-align: center;
    position: relative;
    .title {
        font-size: 14px;
    }
    .creator {
        float: none;
        font-size: 14px;
    }
    img {
        max-height: 500px;
    }
    .fa {
        position: absolute;
        top: 1em;
        left: 1em;
        background-color: #ffffff;
        height: 2em;
        width: 2em;
        -moz-border-radius: 1em;
        border-radius: 1em;
        line-height: 1.9em;
    }
}

.no-results {
    margin: auto;
    width: 100%;
    text-align: center;
    margin-top: 3em;
}

.search-result--loadmore {
    margin: auto;
    display: block;
}