$height: 32px;
$line-height: 20px;

.searchfield-wrapper {
  border:1px solid #cccccc;
  margin: 20px;
  border-radius: 3px;
  position: relative;
  input {
    height: $height;
    line-height: $line-height;
    margin: 0;
    padding: 0;
  }
  .searchfield {
    border: none;
    background-color: transparent;
    width: 100%;
    overflow: hidden;
    box-shadow: none;
  }
  .button {
    padding: 0px 20px;
    border-radius: 0 3px 3px 0;
  }
  .submit{
    position: absolute;
    right: 0;
  }
  .inputfield {
    width: 100%;
    padding: 0 10px;
  }
  li {
    height: $height;
    vertical-align: middle;
    display: inline-block;
    list-style: none;
    padding: 0;
  }
}