
.topnavigation--header--buttons {
  .topnavigation--header--buttons--profilelink {
    padding-top: 15px;
    a {
      color: #2F4F4F;
    }
  }

  .button {
    margin: 10px 0;
    padding: 10px;
    background-color: #7a7a7a;
    &:hover {
      background-color: black;
    }
  }
}
