.general, .specific {
  text-align: left;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.creators {
  font-style: italic;
}

.creator {
  float: left;
  margin-right: 5px;
  font-style: italic;
}
.creator:after {
  content: ", ";
}
.creator:nth-last-child(2):after {
  content: " og ";
}
.creator:last-of-type:after {
  content: "";
}

.description span:after {
  content: ". ";
}

.part:first-of-type:before {
  content: "I: ";
}
.issn:first-of-type:before {
  content: "ISSN: ";
}

.subjects {
  margin-top: 5px;
  padding-bottom: 25px;
}
.subject {
  float: left;
  margin-right: 5px;
}
.subject:first-of-type:before {
  content: "Emner: ";
}
.subject:after {
  content: "; ";
}
.subject:last-of-type:after {
  content: "";
}

.actors {
  margin-top: 5px;
}
.actor {
  float: left;
  margin-right: 5px;
}
.actor:first-of-type:before {
  content: "Medvirkende: ";
}
.actor:after {
  content: "; ";
}
.actor:last-of-type:after {
  content: "";
}
.track:first-of-type:before {
  content: "Trackliste: ";
  white-space: pre;
  font-weight: bold;
}
.track:before {
    content: "\00a0\00a0\00a0\00a0";
}
.languages {
  margin-top: 5px;
  padding-bottom: 25px;
}
.language {
  float: left;
  margin-right: 5px;
}
.language:first-of-type:before {
  content: "Sprog: ";
}
.language:after {
  content: "; ";
}
.language:last-of-type:after {
  content: "";
}

.clear {
  clear: both;
}

/* Specific material type */

.specific {
    .type {
      float: left;
    }

    .type:after {
      content: "\00a0";
    }

    .date {
      float: left;
    }

    .date:nth-child(2):before {
      content: "(";
    }

    .date:after {
      content: ";\00a0";
    }

    .date:last-of-type:after {
      content: ")\00a0";
    }
}
.work-not-found {
    text-align: center;
    padding-top: 20px;
}

.order-button,
.online-link {
    float: left;
    margin-right: 10px;
}

.online-link {
    padding: 15px;
}

/* Publication Details */
.editions {
    margin-top: 20px;
    text-align: left;
}
.editions:before {
    content: 'Udgaver';
    font-weight: bold;
}
.publication-details {
    padding: 20px;
    text-align: left;
    border-top: 1px solid;
    .publisher,
    .edition {
        float: left;
    }
    .publisher:after,
    .edition::after{
        content: ',\00a0';
    }
    .date {
        float: none;
    }
    .date:after {
        content: '';
    }
}