# ============
# LOGS / REPORTS
# ============
*.log
report.xml
output
test-results.xml

# ============
# BUILDS
# ============
public/*

# ============
# NODE_MODULES
# ============
node_modules


# ============
# IDEA
# ============
.idea
*.iml

# ============
# CONFIG
# ============
newrelic.config.js
config.js


