# ============
# LOGS / REPORTS
# ============
*.log
*.log.gz
report.xml
output
test-results.xml
/qa/coverage/*
dump.rdb
complexity
complexity-report*
npm-debug.log.*
swagger.json
.sonar/

# ============
# BUILDS
# ============
public/*

# ============
# NODE_MODULES
# ============
node_modules

# ============
# IDEA
# ============
.idea
*.iml

# ============
# CONFIG
# ============
/config.js

NODE_ENV_DOCKERFILE

# ============
# ENV files
# ============ 
.env

# ============
# MISC
# ============
/versions/
context.json
__results__
serviceprovider.sqlite3
