.button {
  background-color: $button-background-color;
  border: solid 1px $border-color;

  &:hover {
    background-color: $button-background-color--hover;
    text-decoration: none;
  }

  &.secondary {
    color: $button-text-color;
    text-transform: uppercase;
    &.active {
      background-color: $button-background-color--secondary-active-color;
    }
  }
}


ul.button-group.even-2 > li > a.button.secondary {
  margin-left: 0;
  margin-right: 0;
}
