#footer {

  ul {
    list-style-type: none;
    padding: 0;
    margin-left:0;
  }

  color: $similar-title-font-color;
  padding: 20px;
  margin-top: 10px;

  background-color: $topbar-background-color;
  min-height: 70vh;

  h4, h5 {
    color: $similar-title-font-color;
  }

  a {
    color: $similar-title-font-color;
    text-decoration: underline;
  }

  h4 {
    font-size: 1.3em;
    font-weight: bolder;
  }

  h5 {
    margin-bottom: 2px;
  }
}
