
#header {
  margin-bottom: 10px;
}

#logo {
  display: block;
  margin-left: 10px;
  background-Size: contain;
  background-repeat: no-repeat;
  background-position-y: center;
  height: 50px;
}

.topbar--login-btn-container {
  padding-top: 6px;
  a {
    margin-bottom: 0;
  }
}

.topbar--button-container {
  a img {
    margin: 10px;
  }
}

.header--topnavigation-links {
  padding: 10px 0;
}

.header--topbar-menu {

  ul {
    list-style-type: none;
    border-top: 1px solid darkgrey;
    margin:0px 0px 10px 0px;
    li {

      @media #{$large-up} {
        border-left: 1px solid darkgrey;
        border-right: 1px solid darkgrey;
      }

      border-bottom: 1px solid darkgrey;
      a {
        padding-left:20px;
        padding-top:20px;
        padding-bottom:20px;
        display:block;
      }
    }
  }
}

.slider{
  max-height: 0px;
  overflow-y: hidden;
}

.slider.closed {
  max-height: 0px;
  overflow-y: hidden;

  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}


.slider.opened {
  max-height: 1000px;
}
