.logo--container {
  a {
    display: block;
    padding: 0;
  }
}

#logo {
  display: block;
  margin-left: 10px;
  background: url('/aakb_logo.png') no-repeat left;
  background-size: 95%;
  height: 50px;
  max-width: 400px;
}

