// =============================================================================
// #MESSAGE
// =============================================================================

#message {
  p {
    text-align: center;
    font-weight: 900;
    margin-bottom: 0;
  }

  .info {
    background-color: lightgreen;
  }

  .warning {
    background-color: indianred;
  }

  height: 20px;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
