// =============================================================================
// #MESSAGE
// =============================================================================

#message {
  p {
    text-align: center;
    font-weight: 900;
    margin-bottom: 0;
  }

  .info {
    background-color: lightgreen;
  }

  .warning {
    background-color: indianred;
  }
}
