#header {
  background-color: #ffffff;
  display: block;
  height: 100px;
}

#topbar {
  background-color: #f26306;
  height: 50px;
}

#search {
  clear: both;
}

#message {
  p {
    text-align: center;
    font-weight: 900;
    border: 1px solid #ddd;
  }

  .info {
    background-color: lightgreen;
  }

  .warning {
    background-color: indianred;
  }
}

#logo {
  margin-left: 10px;
  background: url('/aakb_logo.png');
  background-position: left;
  background-size: 95%;
  background-repeat: no-repeat;
  height: 100%;
  max-width: 400px;
}

a {
  color: #f26304;
  &:hover {
    text-decoration: underline;
  }
}

.token-searchfield {
  background-color: #505050;
  padding: 10px 0;
}

.searchfield-wrapper {
  border: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 3px;
  padding-right: 10px;
}

.submit {
  .button {
    background-image: linear-gradient(#444443, #1e1e1f);
    font-size: 1rem;
  }
}

.can-order-false {
  color: #000000;
  background-color: #ffffff !important;
  border: solid 0.5px #7A7A7A !important;
}

.button {
  background-color: #7A7A7A;
  border: solid 0.5px #ffffff;
}

.button:hover {
  background-color: #000000;
  text-decoration: none;
}

.filterguide-list-element {
  .button {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #e8e8e8;
    color: #f26305;
  }
}

.button.secondary {
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #7a7a7a;

  &.active {
    background-color: #000000;
  }
}

// AUTOCOMPLETE

.autocomplete--container {
  background-color: #fffffc;
  font-family: 'Open Sans', sans-serif;
}

.autocomplete--category--label-container {
  line-height: 31px;
}

.autocomplete--category--label {
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
}

.autocomplete--row {
  background-color: #fffffc;
  border-bottom: 1px solid #f4f4f4;
}

.autocomplete--row-text {
  color: black;
}

// RESULT

.work {
  background-color: #ffffff;
  border: 1px solid #fff;
  padding-left: 5px;
  padding-right: 6px;

  img {
    max-height: 330px;
  }
}

.topnavigation--header--buttons {
  padding: 0 5px;
}
