.search-result {
  @extend .row;
}

.row {
  .title {
    font-size: 14px;
    color: #000000;
  }
  .creator {
    float: none;
    font-size: 14px;
    color: #000000;
  }
}

.work {

  position: relative;


  @media  #{$small-only} {
    max-width: 150px;

    .title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .creator {
      font-size: 0.8em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  @media  #{$medium-up} {
    img {

    }
  }


  .fa {
    background-color: #ffffff;
    position: absolute;
    @include radius(1em);
    top: 1em;
    left: 1em;
    width: 2em;
    line-height: 1.9em;
    padding: 1px 8px;
    height: 2em;
  }
}

.work--cover-image {
  text-align: center;
}

.no-results {
  margin: auto;
  width: 100%;
  text-align: center;
  margin-top: 3em;
}

.search-result--loadmore {
  margin: auto;
  display: block;
}
