.facets {
  .facet-name {
    display: inline-block;
  }
  .toggle {
    cursor: pointer;
  }
  .toggle-buttons {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    .button-collapsed {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #000000;
    }
    .button-not-collapsed {
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #000000;
    }
  }
  .button-not-collapsed,
  .facet.collapsed,
  .toggle-buttons.not-collapsed .button-collapsed {
    display: none;
  }
  .toggle-buttons.not-collapsed .button-not-collapsed {
    display: inline-block;
  }
}
