.filterguide-wrapper {
  //position: absolute;
  overflow: hidden;
  width: 100%;
}
.filterguide {
  width: 104%;
  //height: 60px;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.filterguide-list {
  margin: 0;
  width: 100%;
}

.filterguide-list-element {
  margin: 2px;
  display: inline-block;
  .button {
    margin: 0;
  }
}