// =============================================================================
// FILTER GUIDE COMPONENT
// =============================================================================
.filterguide-wrapper {
  overflow: hidden;
  width: 100%;
}

.filterguide {
  width: 104%;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}

.filterguide-list {
  margin: 0;
  width: 100%;
}

.filterguide-list-element {
  margin: 2px;
  display: inline-block;

  .button {
    margin: 0;
    background-color: $filter-guide-list-element-button;
    color: $link-color;
  }
}
