.available-now {
    color: green;
}
.available-later {
    color: orange;
}
.not-available {
    color: red;
}

.holding-status-svg-cicle, .holding-status--compact {
    height: 17px;
    width: 20px;
}
