.news {
  background-color: $news-background-color;
  padding: 20px 10px;
}

.news-items {
  background-color: #fffffe;
  padding-bottom: 5px;
  .news-items-headline {
    padding: 10px;
    font-weight: $font-weight-bold;
    font-size: rem-calc(20px);
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.news-item {
  padding: 10px;
  margin: 0 10px 10px 10px;
  @include transition();

  &.odd {
    background-color: #e8e8e8;
    &:hover {
      background-color: darken(#e8e8e8, 10%);
    }
  }

  &.even {
    background-color: #f2f2f2;
    &:hover {
      background-color: darken(#f2f2f2, 10%);
    }
  }

  .headline{
    font-size: rem-calc(18px);
    font-weight: $font-weight-bold;
  }

  .link {
    display: block;
    height: 20px;
    text-align: right;
    clear: both;
    color: $link-color;
    &:hover {
      text-decoration: underline;
    }
  }

  .image {
    @extend %news-item-image;
  }
  .lead {
    width: 67%;
    float: right;
  }

}
.news-items-link-container {
  .link {
    height: 50px;
    padding: 5px 0 10px 0;
    display: block;
    font-size: rem-calc(20px);
    color: white;
    text-align: right;
  }
}

.news-page {
  padding: 0 10px;
  .lead {
    font-weight: bold;
    margin-bottom: 10px;
  }
  .image {
    @extend %news-item-image;
  }
}

%news-item-image {
  width: 33%;
  padding-right: 15px;
  float: left;
}