
.order--container {

}

.order--info {
    margin: 10px;
    .order--headline {
        font-style: italic;
        margin-bottom: 10px;
    }

    .order--bibliographic {
        font-weight: bold;
    }
}

.order--library {
    margin-top: 10px;
    margin-bottom: 20px;
}

.order--library-affiliate-list-drop-down > select {
    width: auto;
}
