$border-color: #d0d0d0;
$background-color: #fdfdfd;

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#profile{
  min-width: 300px;
}

.profile--user-status{
  ul {
    list-style-type: none;
    margin-left: 0;
    li {
      border-top: 1px solid black;
      padding: 5px 0;
      .tiny {
        margin-bottom: 0;
      }
      .overdue {
         color: red;
      }
      .due-soon {
        color: orange;
      }
      .ready {
        color: green;
      }
    }
  }
  .order-header {
    display: inline-block;
  }
  .arrows {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    .arrow-down {
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #000000;
    }
    .arrow-up {
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #000000;
    }
  }
  .order-list.collapsed,
  .collapsed .arrow-up,
  .not-collapsed .arrow-down {
    display: none;
  }
}

.profile--image-round{
  @include rounded(50%);
  width: 50%;
  margin-left:25%;
  margin-right:25%;
}

.profile--image-full{
  width: 100%;
  margin-left:0%;
  margin-right:0%;
}

.profile--image-canvas{
  margin-left:0%;
  margin-right:0%;
}

.profile--displayname{
  text-align: center;
}

.profile--header{

  margin-bottom: 15px;
  text-align: center;

  h2, a{
    font-size: 1em;
    padding:0px;
    cursor: pointer;
  }

  h2{
    display: inline;
    margin: auto auto;
  }

  a{
    display: inline;
    font-size:0.8em;
    float: right;
    @include no-select();
  }
}

.profile--socialsummary{
  text-align:center;

  h6{
    font-size:0.8em;
  }

  p{
    font-size:1.4em;
  }
}
