$border-color: #d0d0d0;
$background-color: #fdfdfd;

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#profile{
  min-width: 300px;
}

.profile--user-status{

  padding: 10px;

  h2 {
    padding:0;
    margin:0;
    font-size: 1.3em;
  }

  .message-button {
    @include rounded(8px);
    @include no-select();
    padding:1em;
    //border:1px solid;
    cursor: pointer;
    text-align:center;
  }

  .pickup {
    background-color: green;
  }
  .expiring {
    background-color: orange;
  }
  .debt,
  .expired {
    background-color: #ff7172;
  }

  .selector {
    .loading {
      background-image: url('/loader.gif');
      background-size: 15%;
      background-position-x: 50%;
    }
    .success {
      border-color:green;
    }
    .failure {
      border-color:#ff7172;
    }
  }
}

// EXPANDING CONTAINERS

.expand--button {
  padding:1em;
  cursor: pointer;
  @include no-select();

  &.expanded {
    background: url('/icons/up-alt.svg') right 1em center no-repeat;
    background-size: 1em;
  }

  &.collapsed {
    background: url('/icons/forward-alt.svg') right 1em center no-repeat;
    background-size: 1em;
  }
}

.expand--container {

  -webkit-transition: all 2s linear;
  transition: all 2s linear;

  overflow:hidden;
  margin-bottom: 2px;
  @include rounded(8px);
  //border:1px solid grey;

  p {
    text-align: center;
    margin-top: 20px;
  }

  ul {
    list-style:none;
    margin:0;
    padding:0;

    li {
      padding:3px;
      border: 1px solid lightgrey;
      overflow: hidden;

      &:nth-child(2n) {
        background-color: white;
      }

      &:nth-child(2n+1) {
        background-color: lightgrey;
      }
    }
  }
}

.expand--content {
  border-top:1px solid lightgrey;
}
