$border-color: #d0d0d0;
$background-color: #fdfdfd;

@mixin rounded($radius: 0.5em) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


#profile{
  min-width: 300px;
}

.profile--user-status{
  ul {
    list-style-type: none;
    margin-left: 0;
    li {
      border-top: 1px solid black;
      padding: 5px 0;
      .tiny {
        margin-bottom: 0;
      }
      .overdue {
         color: red;
      }
      .due-soon {
        color: orange;
      }
      .ready {
        color: green;
      }
    }
  }
  .user-status-header {
    display: inline-block;
  }
  .toggle {
    cursor: pointer;
  }
  .toggle-buttons {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
    .button-collapsed {
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 20px solid #000000;
    }
    .button-not-collapsed {
      width: 0; 
      height: 0; 
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-bottom: 20px solid #000000;
    }
  }
  .collapsed .button-not-collapsed,
  .not-collapsed .button-collapsed {
    display: none;
  }
  .slider {
    overflow: hidden;
    max-height: 1000px;
  }
  .slider.slider-not-collapsed {
    -webkit-transition: all 3000ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transition: all 3000ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }
  .slider.slider-collapsed {
    max-height: 0;
    -webkit-transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
    transition: all 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }
  .action .column {
    text-align: center;
    color: #ffffff;
    margin-bottom: 5px;
    div {
      padding: 10px;
      cursor: pointer;
    }
  }
  .pickup {
    background-color: green;
  }
  .expiring {
    background-color: orange;
  }
  .debt,
  .expired {
    background-color: red;
  }

  .selector {
    .loading {
      background-image: url('/loader.gif');
      background-size: 15%;
      background-position-x: 50%;
    }
    .success {
      border-color:green;
    }
    .failure {
      border-color:red;
    }
  }
}

.profile--image-round{
  @include rounded(50%);
  width: 50%;
  margin-left:25%;
  margin-right:25%;
}

.profile--image-full{
  width: 100%;
  margin-left:0%;
  margin-right:0%;
}

.profile--image-canvas{
  margin-left:0%;
  margin-right:0%;
}

.profile--displayname{
  text-align: center;
}

.profile--header{

  margin-bottom: 15px;
  text-align: center;

  h2, a{
    font-size: 1em;
    padding:0px;
    cursor: pointer;
  }

  h2{
    display: inline;
    margin: auto auto;
  }

  a{
    display: inline;
    font-size:0.8em;
    float: right;
    @include no-select();
  }
}

.profile--socialsummary{
  text-align:center;

  h6{
    font-size:0.8em;
  }

  p{
    font-size:1.4em;
  }
}
