.receipt--info {
    margin: 10px;
    .receipt--headline {
        font-style: italic;
        margin-bottom: 10px;
    }

    .receipt--bibliographic {
        font-weight: bold;
    }
}

.receipt--library {
    margin-top: 10px;
    margin-bottom: 20px;
}