$height: 32px;
$line-height: 20px;

.searchfield--container {
  padding: 0 5px;
}

.searchfield-wrapper {
  border: none;
  margin: 0;

  input {
    height: $height;
    line-height: $line-height;
    margin: 0;
    padding: 0;
  }

  .searchfield {
    border: none;
    background-color: #ffffff;
    padding: 10px 100px 10px 10px;
    width: 100%;
    overflow: hidden;
    box-shadow: none;
  }

  .submit {
    position: absolute;
    right: 5px;
  }

  .button {
    padding: 0 20px;
    border-radius: 0 3px 3px 0;
    background-image: linear-gradient(#444443, #1e1e1f);
    font-size: 1rem;
  }

  .inputfield {
    width: 100%;
    padding: 0;
  }
}

.token-searchfield {
  background-color: $toke-searchfield-background-color;
  padding: 10px 0;
}

.token-searchfield--spinner {
  position: absolute;
  display: none;

  &.pending {
    display: block;
    width: 20px;
    height: 20px;
    background: url("/loader.gif") no-repeat center;
    background-size: 20px;
    right: 10px;
    top: 10px;
  }
}
