
.topbar--button-container {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  a {
    img {
      //margin: 8px 0px 0px 0px;
    }
  }
}

.back-button {
  padding:8px 0px 12px 0px;
}

#topbar {
  background-color: $topbar-background-color;
}
