@import '../mixins/horizontal-list';

.work--container {
  padding: 10px;

  .no-mobile-order {
    font-weight: bold;
    margin: 10px 0px;
  }

  .general, .specific {
    text-align: left;
  }

  .title {
    font-size: 14px;
    font-weight: bold;
  }

  .creators {
    font-style: italic;
    @extend .clearfix;
  }

  .creator {
    float: left;
    margin-right: 5px;
    font-style: italic;
  }

  .subjects {
    padding-top: 5px;
  }

  .subject {
    display: inline-block;
    text-transform: capitalize;
    &:before {
      content: ', ';
    }
    &:first-of-type:before {
      content: normal;
    }
  }

  .part {
    padding-top: 5px;
  }

  .dk5 {
    display: inline-block;
    padding-right: 5px;
    padding-top: 5px;
  }

  .actor {
    float: left;
    margin-right: 5px;
  }

  .actor:after {
    content: "; ";
  }

  .actor:last-of-type:after {
    content: "";
  }

  .audience {
    padding-top: 5px;
  }

  .language {
    display: inline-block;
    padding-right: 5px;
    padding-top: 5px;
  }

  .specifics {
    padding-top: 5px;
  }

  /* Specific material type */

  .specific {
    .type {
      float: left;
    }

    .type:after {
      content: "\00a0";
    }

    .date {
      float: left;
    }

    .date:nth-child(2):before {
      content: "(";
    }

    .date:after {
      content: ";\00a0";
    }

    .date:last-of-type:after {
      content: ")\00a0";
    }
  }

  .work-not-found {
    text-align: center;
    padding-top: 20px;
  }

  .order-button,
  .online-link {
    float: left;
    margin-right: 10px;
  }

  .online-link {
    padding: 15px;
  }

  .can-order-false {
    background-color: $can-order-false-background-color !important;
    border: solid 0.5px darken($can-order-false-background-color, 20%) !important;
    pointer-events: none;
    cursor: default;
  }

  /* Publication Details */
  .work-container--work--editions-container {
    text-align: left;
    padding-top: 10px;
  }

  .work-container--work--editions--label {
    font-weight: bold;
  }

  .work-container--work--editions--publication-details {
    padding: 10px;
    text-align: left;
    border-top: 1px solid #ccc;
    .inline {
      display: inline-flex;
    }

    .isbn {
      display: inline-block;
    }
  }
}

.work--image {
  margin: auto;
  @media  #{$small-only} {
    padding-bottom: 20px;
    width: 50%;
  }
  @media  #{$medium} {
    padding-bottom: 20px;
    width: 50%;
  }
}

.work--title {
  font-size: 20px;
  font-weight: bold;
  margin-right: 80px; //Make space for like buttons
}
.work--description {
  margin-bottom: 20px;
}

.work--information {
  margin-bottom: 20px;
}

// =============================================================================
// Toggle BUTTONS
// =============================================================================

.toggle--button {
  font-size: 20px;
  font-weight: bold;
  &:before {
    display: inline-block;
    border-radius: 50%;
    background-color: $similar-title-background-color;
    width: 26px;
    height: 26px;
    text-align: center;
    margin-right: 5px;
    color: #eee;
    .is-visible & {
      content: '–';
      line-height: 24px;
    }
    .is-not-visible & {
      content: '+';
      line-height: 25px;
    }
  }
}

.toggle--content {
  overflow: hidden;
  @include single-transition();
  .is-visible & {
    margin-top: 10px;
    height: auto;
    opacity: 1;
  }
  .is-not-visible & {
    height: 0;
    opacity: 0;
  }
}

.toggle--wrapper {
  padding: 10px;
  border: 5px solid #ddd;
  margin-bottom: 20px;

}

// =============================================================================
// LIKE BUTTONS
// =============================================================================

.work--like-buttons {
  margin: 10px;
  text-align: center;
  position: absolute;
  right: 0;
  img {
    width: 30px;
  }
}

.work--like-buttons--like-container,
.work--like-buttons--dislike-container {
  display: inline;
  margin-left: 5px;
}

// =============================================================================
// Similar titles
// =============================================================================

.work--recommendations--title {
  background-color: $similar-title-background-color;
  color: $similar-title-font-color;
  padding: 5px;
}

.work--recommendations--generic {
  @include horizontal-list($small-only)
}
