
// =============================================================================
// SETTINGS
// =============================================================================
@import "settings/_settings.mobilsoeg.scss";

// =============================================================================
// Site specific settings
// =============================================================================
$link-color: #a49e90;
$link-hover-color: #a49e90;
$similar-title-background-color: #a49e90;
$topbar-background-color: #a49e90;
$work-mattype-icon-background-color: #a49e90;
$logo: "https://www.herlevbibliotek.dk/sites/all/themes/herbib_theme/logo.png";

// =============================================================================
// FOUNDATION
// =============================================================================
@import "foundation/normalize";
@import "foundation/foundation";

// =============================================================================
// GLOBALS
// =============================================================================
@import "global/buttons";
@import "global/header";
@import "global/footer";
@import "global/html";
@import "global/message";

// =============================================================================
// COMPONENTS
// =============================================================================
@import 'components/AutoComplete';
@import 'components/DisplayResult.mobilsoeg.scss';
@import 'components/Facets';
@import 'components/FilterGuide';
@import "components/FrontPage";
@import "components/HoldingStatus";
@import 'components/Loader';
@import "components/News.mobilsoeg.scss";
@import 'components/Order';
@import 'components/Profile';
@import 'components/Receipt';
@import 'components/Responsetime';
@import 'components/SearchField.mobilsoeg.scss';
@import 'components/TokenList';
@import 'components/TopNavigation';
@import 'components/Work';
@import 'components/LibraryAffiliateListItem';
@import 'components/SearchSort';
