//- layout.jade

html(lang='da')
    include header

    body
        #message
            include message
        #header
            a(href='/')
                #logo

        block content

    include footer
