extends layout
block prepend footerscripts
   script(src='/js/library.js' defer=true)
block content
   #library-container !{libString}

   script window.LIBRARY_ID = !{id};
   script window.LIBDATA = !{libData};
