//- index.jade

extends layout

block prepend footerscripts
    script(src='/js/querysearch.js' defer=true)

block content
    #search.clearfix !{search}
    script window.QUERYSTRING_PROPS = !{props}
