body {
  font-family: "Lucida Sans Unicode", "Lucida Sans", Arial, sans-serif;
}

#header {
  background-color: #ffffff;
  display: block;
  height: 100px;
}

#message {
  p {
    text-align: center;
    font-weight: 900;
    border: 1px solid #ddd;
  }

  .info {
    background-color: lightgreen;
  }

  .warning {
    background-color: indianred;
  }
}

#logo {
  margin-left: 10px;
  background: url('/palle_logo.png');
  background-position: left;
  background-size: 35%;
  background-repeat: no-repeat;
  height: 100%;
  width: auto;
  max-width: 400px;
}

a {
  color: #1b9ec6;
}

a:hover {
  color: #2971A7;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  background-color: #2971A7;
}

.token-searchfield {
  background-color: #ffffff;
  padding: 10px 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 1px;
}

.searchfield-wrapper {
  border: 1px solid #CCC;
  border-radius: 4px;
  margin-left: 10px;
  margin-right: 10px;

  li {
    padding-left: 10px;
  }
}

.submit {
  .button {
    background-color: #1b9ec6;
    font-size: 1rem;
  }
}

.filterguide-list-element {
  .button {
    background-color: #3fbb30;
    color: #ffffff;
    border-radius: 4px;
  }

  .element-label-worktype {
    background-color: #0040D0 !important;
  }
}

.button-group {
  margin-left: 1px;
  margin-right: 1px;
  li {
    margin: 0 !important;
  }
  li:first-of-type {
    padding-right: 2px;
  }
  li:last-of-type {
    padding-left: 2px;
  }
}

.button.secondary {
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #CCC !important;
  border-radius: 4px;
  &.active {
    background-color: #1b9ec6;
  }
}

// AUTOCOMPLETE

.autocomplete--container {
  background-color: #fffffc;
}

.autocomplete--category--label-container {
  line-height: 31px;
}

.autocomplete--category--label {
  text-transform: uppercase;
}

.autocomplete--row {
  background-color: #fffffc;
  border-bottom: 1px solid #f4f4f4;
}

.autocomplete--row-text {
  color: black;
}

// RESULT

.search-result--loadmore,
.order-button {
  background-color: #1b9ec6;
  border-radius: 4px;
}

.work {
  background-color: #ffffff;
  border: 1px solid #fff;
  padding-left: 5px;
  padding-right: 6px;

  img {
    max-height: 330px;
  }
  .fa {
    background-color: #f6ab0c;
    color: #ffffff;
    border-radius: 0;
    top: 0.3em;
    left: 1.5em;
    width: 1.5em;
    line-height: 2.5em;
  }
}

// ORDER + RECEIPT

.place-order-button,
.cancel-order-button {
  background-color: #1b9ec6;
  border-radius: 4px;
  margin: 10px;
}

.order--container .image,
.order--container .order,
.receipt--container .image,
.receipt--container .receipt {
    float: left;
}



