//- frontpage-mobilsoeg.jade

extends layout

block prepend footerscripts
    script(src='/js/frontpage.js?v=1.0.0' defer=true)
    script window.ssr_recommendations = '!{recommendations}';

block content
    #frontpage-container-component !{frontpageContainerString}
