//- layout.jade

html(lang='da')
    include header

    body
        #message
            include message
        block top
            #header.clearfix
                #topbar
                    .logo--container
                        a(href='/')
                            #logo
                #topnavigation.clearfix

        block content
        div.responsetime--container
            small.responsetime Page was rendered in: %RENDERTIME%ms. Serviceprovider %SERVICETIME%

    include footer
