//- layout.jade

doctype html
html(lang='da')
    include head

    body(class=libdata ? libdata.bodyclass : '')
        #message
            include message
        block top
            if application == 'mobilsoeg'
                include header-mobilsoeg
            else if application == 'pg'
                include header-pg

        block content

        div.responsetime--container
            small.responsetime Page was rendered in: %RENDERTIME%ms. Serviceprovider %SERVICETIME%

    include footer
