extends layout

block prepend footerscripts
  script(src='/js/librarysuggest.js' defer=true)

block content
  #search !{libSuggestString}

  script window.QUERYSTRING_PROPS = !{query};
  script window.libSuggestProps = !{libSuggestProps};
