extends layout

block prepend footerscripts
   if pagescript
      script(src="/js/" + pagescript + '?v=1.0.1' defer=true)


block content
   #page.row !{content}
   script window.PAGE_DATA = !{data};
