//- search.jade

extends layout

block prepend footerscripts
    script(src='/js/querysearch.js?v=1.0.2' defer=true)

block content
    #search.row !{search}
    script window.QUERYSTRING_PROPS = !{props}
