extends layout

block prepend footerscripts
    script(src='/js/terminal.js' defer=true)

block content
    #terminal
       input(type='text' id='eventname' placeholder='event name here')
       input(type='text' id='eventval' placeholder='event value here (JSON)')
       input(type='submit' id='sendevent')
